{{!-- ./views/index.handlebars --}}
<div class="dropdown">
  <button class="btn btn-outline-light border border-dark bg-white dropdown-toggle text-dark" type="button" data-toggle="dropdown">{{{dropdownText}}}</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/">全部</a>
    <a class="dropdown-item" href="/?category=家居物業">家居物業</a>
    <a class="dropdown-item" href="/?category=交通出行">交通出行</a>
    <a class="dropdown-item" href="/?category=休閒娛樂">休閒娛樂</a>
    <a class="dropdown-item" href="/?category=餐飲食品">餐飲食品</a>
    <a class="dropdown-item" href="/?category=其他">其他</a>
  </div>
</div>
<p>總金額: {{{totalAmount}}}</p>

<ul>
  {{#each records}}
    <li>
      <p>{{{this.name}}}</p>
      <p>{{{this.category}}}</p>
      <p>{{{this.date}}}</p>
      <p>{{{this.amount}}}</p>
      <a href="/records/{{{this._id}}}/edit">修改</a>
      <form action="/records/{{{this._id}}}?_method=DELETE" method="POST" class="d-inline">
        <button type="submit">刪除</button>
      </form>
    </li>
  {{/each}}
  <a class="btn text-white border border-dark bg-warning" href="/records/new">新增支出</a>
</ul>